<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://note.youdao.com/yws/api/personal/file/0e6f4c08d244273449d34ac0988b043c?method=download&inline=true&shareKey=7a69a9baec1639b6954bbdf67e53b1f3</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>app.sojan.top</string>
				<key>bundle-version</key>
				<string>1.2.7</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>声荐</string>
				<key>title</key>
				<string>声荐</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
