<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://120-232-77-35.pd1.123pan.cn:30443/download-cdn.123pan.cn/123-786/0b5aecf9/1813377226-0/0b5aecf985e908a218bcda41dfbb3b12/c-m23?v=5&t=1712465135&s=1712465135315b5f560543208a11a78f26df0d6872&r=HTYHV8&bzc=2&bzs=313831343837323938323a31393534303637373a32383933383136323a30&filename=sj.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>app.sojan.top</string>
				<key>bundle-version</key>
				<string>1.2.7</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>声荐</string>
				<key>title</key>
				<string>声荐</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
